<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="top">
            <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
            <div class="search-bar">
                <input type="text" placeholder="Buscar">
                <div class="search-icon">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
        <div class="message">
            <i class="fas fa-hand-holding-usd"></i>
            <p class="text-1">Compra en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="nav-bar">
            <ul class="items-bar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="items-bar">
                <li><a href="/register">Crea tu cuenta</a> <i class="fas fa-id-card"></i></li>
                <li><a href="#">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="banner de ofertas">
    </section>
    <main>
        <section class="section-1">
            <h2 class="title-section-1">Basado en tu última vista</h2>
            <div class="product-container">
                <article class="product">
                    <picture class="image-product">
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    </picture>
                    <div class="detalles-producto">
                        <div class="delivery-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="details">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <h3 class="descripciones">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="product">
                    <div>
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="300px">
                    </div>
                    <div class="detalles-producto">
                        <div class="delivery-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h3 class="descripciones">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="product">
                    <div>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="300px">
                    </div>
                    <div class="detalles-producto">
                        <div class="delivery-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h3 class="descripciones">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="product">
                    <div>
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="300px">
                    </div>
                    <div class="detalles-producto">
                        <div class="delivery-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h3 class="descripciones">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h2 class="titular">Ofertas</h2>
            <div class="product-container">
                <article class="product">
                    <div>
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="300px">
                    </div>
                    <div class="detalles-producto">
                        <div class="delivery-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h3 class="descripciones">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="product">
                    <div>
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="300px">
                    </div>
                    <div class="detalles-producto">
                        <div class="delivery-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h3 class="descripciones">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="product">
                    <div>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="300px">
                    </div>
                    <div class="detalles-producto">
                        <div class="delivery-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h3 class="descripciones">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="product">
                    <div>
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="300px">
                    </div>
                    <div class="detalles-producto">
                        <div class="delivery-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h3 class="descripciones">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
            <br>
        </section>
    </main>
    <footer>
        <section>
            <div class="content">
                <div class="iconos-pie-de-pagina">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </div>
            <div class="content">
                <div class="iconos-pie-de-pagina">
                    <i class="fas fa-gift"></i>
                </div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </div>
            <div class="content">
                <div class="iconos-pie-de-pagina">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    </footer>
</body>

</html>