<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="/images/icon-web-removebg-preview.ico">
    <title>Registro</title>

</head>

<body>
    <header>
        <div class="top">
            <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
            <div class="search-bar">
                <input type="text" placeholder="Buscar">
                <div class="search-icon">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
        <div class="message">
            <i class="fas fa-hand-holding-usd"></i>
            <p class="text-1">Compra en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="nav-bar">
            <ul class="items-bar">
                <li><a href="/">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="items-bar">
                <li><a href="/register">Crea tu cuenta</a> <i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="banner de ofertas">
    </section>
    <section class="all-form">
        <div class="form-main">
            <h1 class="main-title">Registrese</h1>
            <form action="registro" method="post">
                <!-- Nombre -->
                <label for="name">Nombre: </label>
                <div class="general-inputs">
                    <input type="text" name="name" id="name" placeholder="Ingrese su nombre..." required>
                </div>
                <!-- Apellido -->
                <label for="surname">Apellido: </label>
                <div class="general-inputs">
                    <input type="text" name="surname" id="surname" placeholder="Ingrese su apellido..." required>
                </div>
                <!-- Nombre de usuario -->
                <label for="nickname">Nombre de usuario: </label>
                <div class="general-inputs">
                    <input type="text" name="nickanme" id="nickname" placeholder="Ingrese sunombre de usuario..."
                        required>
                </div>
                <!-- Fecha de nacimiento -->
                <label for="date-birth">Fecha de nacimiento: </label>
                <input type="date" name="date-birth" id="date-birth" required>
                <!-- Domicilio -->
                <div class="domicilio">
                    <h2 class="adress-title">Domicilio</h2>
                    <label for="country">Seleccione su pais de residencia: </label>
                    <div class="general-inputs">
                        <select name="country" id="country" required>
                            <option value="USA">Estados Unidos</option>
                            <option value="brasil">Brazil</option>
                            <option value="argentina">Argentina</option>
                            <option value="uruguay">Uruguay</option>
                            <option value="chile">Chile</option>
                            <option value="mexico">Mexico</option>
                        </select>
                    </div>
                    <label for="adress-details">Especifique su domicilio: </label>
                    <div class="general-inputs">
                        <input type="text" name="street" id="street" placeholder="Ingrese su calle..." required>
                    </div>
                    <div class="general-inputs">
                        <input type="number" name="house-number" id="house-number" placeholder="ingrese su numero..."
                            required>
                    </div>
                    <div class="general-inputs">
                        <input type="number" name="post-code" id="post-code" placeholder="Codigo Postal..." required>
                    </div>
                </div>
                <!-- TIPO DE CUENTA -->
                <h2 class="account-type-title">¿Qué le interesa hacer con su cuenta?</h2>
                <label for="sell-option" class="account-type-label">Me interesa vender </label>
                    <input type="checkbox" name="sell-option" id="sell-option" class="checkbox">

                <label for="buy-option" class="account-type-label"> Me interesa comprar </label>
                <div class="checkbox">
                    <input type="checkbox" name="buy-option" id="buy-option" class="checkbox">
                </div>
                <!-- PREFERENCIAS -->
                <div class="preferencies">
                    <h2>¡Nos interesa saber tus gustos!</h2>
                    <label for="categories">Selecciona las categorias que más te gustan</label>
                    <label for="electro">Electro</label>
                    <input type="checkbox" name="electro" id="electro">
                    <label for="moda">Moda</label>
                    <input type="checkbox" name="moda" id="moda">
                    <label for="home">Hogar</label>
                    <input type="checkbox" name="home" id="home">
                    <label for="toys">Juguetería</label>
                    <input type="checkbox" name="toys" id="toys">
                    <label for="healthy">Vida Sana</label>
                    <input type="checkbox" name="healthy" id="healthy">
                </div>
                <!-- FOTO DE PERFIL -->
                <label for="user-photo" class="user-photo">¡Podes subir una foto de usuario para decorar tu
                    perfil!</label>
                <input type="file" name="user-photo" id="input-user-photo" accept=".jpg">
                <!-- CONTRASEÑA -->
                <label for="password">Ingrese su contraseña: </label>
                <input type="password" name="password" id="password" minlength="8" required>
                <label for="repeat-password">Confirmar contraseña: </label>
                <input type="password" name="repeat-password" id="repeat-password" minlength="8" required>
                <!-- BOTONES -->
                <br>
                <a href="/" class="send-button">Enviar</a>
                <button class="reset-button" type="reset">Borrar</button>
            </form>
    </section>
    </div>
    </section>
</body>

</html>